<!-- templates/base.html -->
{% load static %}
<html>
	<head>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Baumans&family=Staatliches&display=swap" rel="stylesheet">
		<title>Django blog</title>
		<link href="{% static 'css/base.css' %}" rel="stylesheet">
	</head>
	<body>
		<header>
			<h1 class="site_header"><a href="{% url 'home' %}">Django blog</a></h1>
		</header>
		{% if user.is_authenticated %}
			<p>Hi {{ user.username }}!</p>
			<form method="post" action="{% url 'logout' %}">
				{% csrf_token %}
				<p>
					<a class="button save_btn session" value="logout" type="submit" href="#"
						onclick="this.closest('form').submit();">
						Log out
					</a>
				</p>
			</form>
		{% else %}
			<p>You are not logged in.</p>
			<a class="button save_btn session" href="{% url 'login' %}">Log In</a>
		{% endif %}
		<nav>
			<a class="new_button button" href="{% url 'post_new' %}">+ New Blog Post</a>
		</nav>
		<div class="cards_container">
			{% block content %}
			{% endblock content %}
		</div>
	</body>
</html>