<!-- templates/base.html -->
{% load static %}
<html>
	<head>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Baumans&family=Staatliches&display=swap" rel="stylesheet">
		<title>Django blog</title>
		<link href="{% static 'css/base.css' %}" rel="stylesheet">
	</head>
	<body>
		<header>
			<h1 class="site_header"><a href="{% url 'home' %}">Django blog</a></h1>
		</header>
		<div class="cards_container">
			{% block content %}
			{% endblock content %}
		</div>
	</body>
</html>